.nav {
  background: #1e293b;
  padding: 12px 20px;
  color: white;
  position: relative;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 18px;
  margin-top: 10px;
}

.nav-links a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #cbd5f5;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 8px;
  border-radius: 8px;
  transition: all 0.2s;
}

.nav-links a:hover {
  background: rgba(255, 255, 255, 0.08);
  color: white;
}

.nav-links a.active {
  color: #38bdf8;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 26px;
  height: 3px;
  background: white;
  border-radius: 4px;
  transition: 0.3s;
}

/* Animação */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 10px;
    background: #1e293b;
    flex-direction: column;
    width: 270px;
    padding: 16px;
    border-radius: 12px;
    display: none;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a {
    padding: 12px;
    font-size: 15px;
  }
}